{% extends "base.twig" %}

{% block header %}
    <div class="container">
        <h1>This is Home</h1>
    </div>
{% endblock %}

{% block body %}
    <div class="container">
        <p>The result was</p>
        <pre>{{ result }}</pre>
    </div>
{% endblock %}
