{% extends 'base.html.twig' %}

{% block title %}{{ title|default('Backend-PHP') }}{% endblock %}

{% block body %}
    <div class="container">
        {{ content }}
    </div>
{% endblock %}

{% block footer %}
    <div class="container">
        {% if buffered is not empty %}
            <div class="notice">
                {{ buffered|raw }}
            </div>
        {% endif %}
    </div>
{% endblock %}
